.editar-foto-perfil-plantilla,
.editar-foto-perfil-plantilla * {
  box-sizing: border-box;
}
.editar-foto-perfil-plantilla {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.iframe-html-body {
  background: #ffffff;
  height: 1024px;
  position: absolute;
  right: -8px;
  left: -9px;
  top: 0px;
}
.main {
  height: 7555.58px;
  position: absolute;
  right: -9.6px;
  left: 10px;
  top: 80px;
}
.section {
  background: #ffffff;
  height: 985px;
  position: absolute;
  right: -32px;
  left: -33px;
  top: -44px;
  overflow: hidden;
}
.background-border {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(68, 68, 68, 0.15);
  border-width: 1px;
  position: absolute;
  right: 1092.6px;
  left: 224px;
  bottom: 456px;
  top: 402px;
}
.background {
  background: #ffc451;
  border-radius: 4px;
  width: 29px;
  height: 26px;
  position: absolute;
  left: calc(50% - 14.5px);
  top: 10px;
}
.icon {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 8px;
  top: 20px;
  transform: translate(0px, -13px);
  overflow: visible;
}
.link-heading-3-asperiores-commodit {
  color: #151515;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 10px;
  line-height: 26.4px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 114.5px);
  top: 33px;
  width: 229.07px;
  height: 26.4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.non-et-temporibus-minus-omnis-sed-dolor-esse-consequatur {
  color: #444444;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 6px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 79.5px);
  top: 59px;
  width: 167px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-3 {
  height: 9px;
  position: absolute;
  right: 112.6px;
  left: 113px;
  top: 818px;
}
.moto {
  color: rgba(68, 68, 68, 0.5);
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 14px;
  line-height: 1px;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: -6.8px;
  top: -4px;
  width: 78px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.horizontal-divider {
  background: #ffc451;
  width: 120px;
  height: 1px;
  position: absolute;
  left: 71px;
  top: 3px;
}
.footer {
  background: #060606;
  height: 434.7px;
  position: absolute;
  right: -3856.6px;
  left: 3857px;
  top: 694px;
}
.container {
  width: 28.92%;
  position: absolute;
  right: 64.46%;
  left: 6.62%;
  bottom: 155.5px;
  top: 50px;
}
.link-gp {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 37.36px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a-108-adam-street {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 52px;
  width: 116.69px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-york-ny-535022 {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 78px;
  width: 137.19px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strong-phone {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 117.4px;
  width: 158.86px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strong-phone-span {
  color: #ffffff;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.strong-phone-span2 {
  color: #ffffff;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.strong-email {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 143.4px;
  width: 167.68px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strong-email-span {
  color: #ffffff;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.strong-email-span2 {
  color: #ffffff;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.link {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 12px;
  top: 186px;
}
.icon2 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  overflow: visible;
}
.link2 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 62px;
  top: 186px;
}
.icon3 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  overflow: visible;
}
.link3 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 112px;
  top: 186px;
}
.icon4 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  overflow: visible;
}
.link4 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 162px;
  top: 186px;
}
.icon5 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  overflow: visible;
}
.container2 {
  width: 14.46%;
  position: absolute;
  right: 50%;
  left: 35.54%;
  bottom: 185.5px;
  top: 50px;
}
.list {
  height: 160px;
  position: absolute;
  right: 11.6px;
  left: 12px;
  top: 39.2px;
}
.item {
  height: 24px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.icon6 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 13px;
  overflow: visible;
}
.link-home {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 0px;
  width: 37.97px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item2 {
  height: 34px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 24px;
}
.icon7 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-about-us {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 56.04px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item3 {
  height: 34px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 58px;
}
.icon8 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-services {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 53.1px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item4 {
  height: 34px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 92px;
}
.icon9 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-terms-of-service {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 103.88px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item5 {
  height: 34px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 126px;
}
.icon10 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-privacy-policy {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 85.6px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-4-useful-links {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 93.74px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container3 {
  width: 14.46%;
  position: absolute;
  right: 35.54%;
  left: 50%;
  bottom: 185.5px;
  top: 50px;
}
.heading-4-our-services {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 96.93px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container4 {
  width: 28.92%;
  position: absolute;
  right: 6.63%;
  left: 64.46%;
  bottom: 155.5px;
  top: 50px;
}
.subscribe-to-our-newsletter-and-receive-the-latest-news-about-our-products-and-services {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 41.6px;
  width: 405.95px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-4-our-newsletter {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 117.08px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form {
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  height: 42.6px;
  position: absolute;
  right: 12.2px;
  left: 12px;
  top: 111.2px;
}
.input {
  position: absolute;
  right: 111.48px;
  left: 8.800000190734863px;
  bottom: 6.8px;
  top: 6.800000190734863px;
  overflow: hidden;
}
.input2 {
  background: #ffc451;
  border-radius: 0px 4px 4px 0px;
  width: 110.68px;
  position: absolute;
  left: 304.52px;
  bottom: -0.2px;
  top: -0.20000000298023224px;
  overflow: hidden;
}
.subscribe {
  color: #2a2727;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 35.34px);
  top: 11.9px;
  width: 70.99px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list2 {
  height: 160px;
  position: absolute;
  right: -65.04px;
  left: 309.240234375px;
  top: 19px;
}
.icon11 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 13px;
  overflow: visible;
}
.link-web-design {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 0px;
  width: 74.06px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon12 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-web-development {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 113.16px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon13 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-product-management {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 135.14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon14 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-marketing {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 62.9px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon15 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-graphic-design {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 94.52px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paragraph {
  width: 1320px;
  height: 45.5px;
  position: absolute;
  left: calc(50% - 660.5px);
  top: 359.2px;
}
.copyright {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 113.77px);
  top: 2.4px;
  width: 78.04px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.strong-gp {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 32.05px);
  top: 2.4px;
  width: 18.89px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-rights-reserved {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 6px);
  top: 2.4px;
  width: 120.17px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.designed-by-bootstrap-made {
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 81.52px);
  top: 27.59px;
  width: 163.38px;
  height: 15.21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.designed-by-bootstrap-made-span {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.designed-by-bootstrap-made-span2 {
  color: #ffc451;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.header {
  background: rgba(0, 0, 0, 0.8);
  width: 1521.6px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
.container5 {
  width: 1320px;
  height: 60px;
  position: absolute;
  left: calc(50% - 660px);
  top: calc(50% - 30px);
}
.link5 {
  width: 51.56px;
  height: 38.4px;
  position: absolute;
  left: 12px;
  top: calc(50% - 19.2px);
}
.heading-1-gp {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 43.47px;
  height: 38.4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div {
  color: #ffc451;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  position: absolute;
  left: 43.14px;
  top: 3.2px;
  width: 8.82px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-list {
  height: 60px;
  position: absolute;
  right: 399.42px;
  left: 288.2001953125px;
  top: 0px;
}
.item-link {
  height: 60px;
  position: absolute;
  right: 576.23px;
  left: -21.5595703125px;
  top: 0px;
}
.item-link-about {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 153.44px;
  top: 20px;
  width: 88px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link-services {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 279.44px;
  top: 20px;
  width: 74px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link-services2 {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 391px;
  top: 20px;
  width: 74px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link2 {
  height: 60px;
  position: absolute;
  right: 80.02px;
  left: 422.6000061035156px;
  top: 0px;
}
.mas {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 64.84px;
  top: 18px;
  width: 36px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon16 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 102.76px;
  top: 36px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.item-link-contact {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 567.44px;
  top: 19px;
  width: 110px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link-about2 {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 20px;
  width: 88px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-3 {
  width: 65px;
  height: 67px;
  position: absolute;
  left: 29px;
  top: 7px;
  object-fit: cover;
}
.link6 {
  background: #ffc451;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1466.6px;
  bottom: 14.73px;
}
.icon17 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 32px;
  overflow: visible;
}
.background-shadow {
  background: #ffffff;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 250px;
  bottom: -73px;
  top: 880px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.rectangle-54 {
  background: rgba(217, 217, 217, 0.36);
  width: 134px;
  height: 131px;
  position: absolute;
  left: 8px;
  top: 9px;
}
.plus-01 {
  width: 47px;
  height: 46px;
  position: absolute;
  left: 51px;
  top: 51px;
  overflow: visible;
}
.background-shadow2 {
  background: #ffffff;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 63px;
  bottom: -73px;
  top: 880px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.heading-4-walter-white {
  color: #151515;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 700;
  position: absolute;
  left: 5px;
  top: 143px;
  width: 154px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2020 {
  color: rgba(68, 68, 68, 0.6);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 700;
  position: absolute;
  left: 5px;
  top: 177px;
  width: 130.11px;
  height: 19.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.team-1-jpg {
  width: 135px;
  height: 131px;
  position: absolute;
  left: 10px;
  top: calc(50% - 102.5px);
  overflow: hidden;
}
.image-5 {
  width: 135px;
  height: 131px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.image-6 {
  width: 135px;
  height: 101px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.footer2 {
  background: #060606;
  height: 81px;
  position: absolute;
  right: -83px;
  left: -9px;
  top: 943px;
}
.container6 {
  width: 16.23%;
  position: absolute;
  right: 83.77%;
  left: 0%;
  bottom: -48px;
  top: 53px;
}
.link7 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 12px;
  top: -20px;
}
.icon18 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.link8 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 61px;
  top: 33px;
}
.icon19 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.container7 {
  width: 17.74%;
  position: absolute;
  right: 68.53%;
  left: 13.73%;
  bottom: 11px;
  top: 10px;
}
.list3 {
  height: 160px;
  position: absolute;
  right: 11.78px;
  left: 12px;
  top: 39.2px;
}
.icon20 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 13px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.copyright2 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -314.24px);
  top: -13.8px;
  width: 78.04px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item6 {
  height: 34px;
  position: absolute;
  right: -59px;
  left: 59px;
  top: -10.2px;
}
.icon21 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.link-about-us2 {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 66px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item7 {
  height: 34px;
  position: absolute;
  right: -82px;
  left: 82px;
  top: -0.2px;
}
.icon22 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.link-services2 {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 14px;
  top: 11.2px;
  width: 59px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item8 {
  height: 34px;
  position: absolute;
  right: -73px;
  left: 73px;
  top: 0.2px;
}
.icon23 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.item9 {
  height: 34px;
  position: absolute;
  right: -124px;
  left: 124px;
  top: 0px;
}
.icon24 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  overflow: hidden;
}
.paragraph2 {
  width: 1320px;
  height: 45.5px;
  position: absolute;
  left: calc(50% - 650px);
  top: 33px;
}
.designed-by-bootstrap-made-span3 {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.designed-by-bootstrap-made-span4 {
  color: #ffc451;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.container8 {
  width: 22.05%;
  position: absolute;
  right: 12.8%;
  left: 65.15%;
  bottom: 3.5px;
  top: 15px;
}
.list4 {
  height: 160px;
  position: absolute;
  right: 12.01px;
  left: 12px;
  top: 39.2px;
}
.item10 {
  height: 34px;
  position: absolute;
  right: -26px;
  left: 206px;
  top: -7px;
}
.icon25 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.item11 {
  height: 34px;
  position: absolute;
  right: -110.99px;
  left: 111px;
  top: 0px;
}
.icon26 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.item12 {
  height: 24px;
  position: absolute;
  right: 79px;
  left: 122px;
  top: 3px;
}
.icon27 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 13px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.heading-4-our-services2 {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  position: absolute;
  left: 35px;
  top: 1px;
  width: 96.93px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link9 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.icon28 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.link10 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50px;
  top: 0px;
}
.icon29 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.ellipse-8 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 1317px;
  top: 18px;
}
.user-profile-03 {
  width: 31px;
  height: 34px;
  position: absolute;
  left: 1324px;
  top: 23px;
  overflow: visible;
}
.section2 {
  background: #060606;
  height: 167px;
  position: absolute;
  right: 0px;
  left: -127px;
  top: 74px;
  overflow: hidden;
}
.motoclub-1-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96.91%;
  height: 494.82%;
  position: absolute;
  right: -101.58%;
  left: 104.66%;
  bottom: -176.17%;
  top: -218.65%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.overlay {
  width: 100%;
  height: auto;
  position: absolute;
  right: -5.12%;
  left: 5.12%;
  bottom: -20px;
  top: 0px;
  overflow: visible;
}
.pencil-2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1533px;
  top: 128px;
  overflow: visible;
}
.section3 {
  background: #ffffff;
  height: 601px;
  position: absolute;
  right: -41px;
  left: -25px;
  top: 233px;
  overflow: hidden;
}
.container9 {
  width: 1320px;
  height: 123px;
  position: absolute;
  left: calc(50% - 660.2px);
  top: 60px;
}
.heading-2 {
  height: 9px;
  position: absolute;
  right: 12px;
  left: 12px;
  top: 0px;
}
.grupo {
  color: rgba(68, 68, 68, 0.5);
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 14px;
  line-height: 1px;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: -6.8px;
  top: -4px;
  width: 78px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.horizontal-divider2 {
  background: #ffc451;
  width: 120px;
  height: 1px;
  position: absolute;
  left: 54.79px;
  top: 3.99px;
}
.heading-22 {
  height: 9px;
  position: absolute;
  right: -798.2px;
  left: 798.2001953125px;
  top: 4px;
}
.contacto-de-emergencia {
  color: rgba(68, 68, 68, 0.5);
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 14px;
  line-height: 1px;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: -191px;
  top: -4px;
  width: 262px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-32 {
  height: 9px;
  position: absolute;
  right: 102px;
  left: 108px;
  top: 345px;
}
.ventos {
  color: rgba(68, 68, 68, 0.5);
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 14px;
  line-height: 1px;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: -6.8px;
  top: -4px;
  width: 78px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-4 {
  height: 9px;
  position: absolute;
  right: -543px;
  left: 753px;
  top: 345px;
}
.recorridos {
  color: rgba(68, 68, 68, 0.5);
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 14px;
  line-height: 1px;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: -50px;
  top: -4px;
  width: 121px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.background-shadow3 {
  background: #ffffff;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 98px;
  bottom: 287px;
  top: 97px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.heading-4-walter-white2 {
  color: #151515;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 700;
  position: absolute;
  left: 5px;
  top: 143px;
  width: 114.06px;
  height: 21.6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.moto-2 {
  color: rgba(68, 68, 68, 0.6);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 700;
  position: absolute;
  left: 5px;
  top: 177px;
  width: 130.11px;
  height: 19.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.team-1-jpg2 {
  width: 135px;
  height: 131px;
  position: absolute;
  left: 10px;
  top: calc(50% - 102.5px);
  overflow: hidden;
  object-fit: cover;
}
.pencil-01 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 123px;
  top: 187px;
  overflow: visible;
}
.background-shadow4 {
  background: #ffffff;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 98px;
  bottom: 15px;
  top: 369px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.pencil-3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 121px;
  top: 187px;
  overflow: visible;
}
.background-shadow5 {
  background: #ffffff;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 275px;
  bottom: 287px;
  top: 97px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.moto-3 {
  color: rgba(68, 68, 68, 0.6);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
  position: absolute;
  left: 5px;
  top: 177px;
  width: 130.11px;
  height: 19.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.team-3-jpg {
  width: 135px;
  height: 153px;
  position: absolute;
  left: 0px;
  top: calc(50% - 87.5px);
  overflow: hidden;
  object-fit: cover;
}
.pencil-22 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 121px;
  top: 187px;
  overflow: visible;
}
.background-shadow6 {
  background: #ffffff;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 712px;
  bottom: 287px;
  top: 97px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.moto-1 {
  color: rgba(68, 68, 68, 0.6);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
  position: absolute;
  left: 5px;
  top: 177px;
  width: 130.11px;
  height: 19.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pencil-32 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 119px;
  top: 187px;
  overflow: visible;
}
.image {
  width: 135px;
  height: 131px;
  position: absolute;
  left: 722px;
  top: 103px;
  object-fit: cover;
}
.background-shadow7 {
  background: #ffffff;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 452px;
  bottom: 287px;
  top: 97px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.plus-012 {
  width: 47px;
  height: 46px;
  position: absolute;
  left: 51px;
  top: 51px;
  overflow: visible;
}
.background-shadow8 {
  background: #ffffff;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 884px;
  bottom: 15px;
  top: 369px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.plus-013 {
  width: 47px;
  height: 46px;
  position: absolute;
  left: 51px;
  top: 51px;
  overflow: visible;
}
.background-shadow9 {
  background: #ffffff;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 278px;
  bottom: 15px;
  top: 369px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.plus-014 {
  width: 47px;
  height: 46px;
  position: absolute;
  left: 51px;
  top: 51px;
  overflow: visible;
}
.background-shadow10 {
  background: #ffffff;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 685px;
  bottom: 205px;
  top: 602px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
._2021 {
  color: rgba(68, 68, 68, 0.6);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
  position: absolute;
  left: 5px;
  top: 177px;
  width: 130.11px;
  height: 19.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-7 {
  width: 135px;
  height: 131px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.pencil-23 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 121px;
  top: 187px;
  overflow: visible;
}
.background-shadow11 {
  background: #ffffff;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 859px;
  bottom: 477px;
  top: 330px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.plus-015 {
  width: 47px;
  height: 46px;
  position: absolute;
  left: 51px;
  top: 51px;
  overflow: visible;
}
.rectangle-57 {
  width: 1457px;
  height: 869px;
  position: absolute;
  left: 2px;
  top: 73px;
  overflow: visible;
}
.rectangle-61 {
  background: #ffffff;
  border-radius: 23px;
  width: 277px;
  height: 249px;
  position: absolute;
  left: 576px;
  top: 228px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-59 {
  background: #ff2020;
  border-radius: 3px;
  width: 57px;
  height: 21px;
  position: absolute;
  left: 682px;
  top: 428px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cancelar {
  color: #0b0b0b;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 11px;
  font-weight: 700;
  position: absolute;
  left: 685px;
  top: 432px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seleccionar-el-archivo {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 646px;
  top: 247px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-36 {
  background: rgba(255, 255, 255, 0);
  border-radius: 21px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 165px;
  height: 128px;
  position: absolute;
  left: 627px;
  top: 272px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.uil-image-upload {
  width: 62px;
  height: 61px;
  position: absolute;
  left: 675px;
  top: 309px;
  overflow: visible;
}
.container10 {
  width: 242px;
  height: 197px;
  position: absolute;
  left: calc(50% - -176px);
  top: 36px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.group-1-5 {
  height: 301px;
  position: absolute;
  right: -603px;
  left: 399px;
  top: -18px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.testimonials-1-jpg {
  border-radius: 50px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 5px;
  width: 64px;
  height: 67px;
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 61.5px);
  overflow: hidden;
  object-fit: cover;
}
.heading-3-saul-goodman {
  color: #ffffff;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 70.2px);
  top: 165.99px;
  width: 140.8px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-4-ceo-founder {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 60px);
  top: 191px;
  width: 109px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon30 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 622px;
  top: 190.41px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  overflow: hidden;
}
.icon31 {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 134.55px;
  top: 235.81px;
  transform: translate(22.45px, -26px);
  overflow: visible;
}
.icon32 {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 812.46px;
  top: 248.56px;
  overflow: visible;
}
.pencil-012 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 240px;
  top: 141px;
  overflow: visible;
}
.button-go-to-slide-1 {
  background: #ffffff;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  position: absolute;
  left: calc(50% - 46px);
  top: 299.91px;
}
.button-go-to-slide-2 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  opacity: 0.5;
  width: 12px;
  height: 12px;
  position: absolute;
  left: calc(50% - 26px);
  top: 299.91px;
}
.button-go-to-slide-3 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  opacity: 0.5;
  width: 12px;
  height: 12px;
  position: absolute;
  left: calc(50% - 6px);
  top: 299.91px;
}
.button-go-to-slide-4 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  opacity: 0.5;
  width: 12px;
  height: 12px;
  position: absolute;
  left: calc(50% - -14px);
  top: 299.91px;
}
.button-go-to-slide-5 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  opacity: 0.5;
  width: 12px;
  height: 12px;
  position: absolute;
  left: calc(50% - -34px);
  top: 299.91px;
}
