.historia-plantilla,
.historia-plantilla * {
  box-sizing: border-box;
}
.historia-plantilla {
  background: #ffffff;
  height: 2144px;
  position: relative;
  overflow: hidden;
}
.iframe-html-body {
  background: #ffffff;
  height: 2063px;
  position: absolute;
  right: -8px;
  left: -9px;
  top: 0px;
}
.main {
  height: 7555.58px;
  position: absolute;
  right: -9.6px;
  left: 10px;
  top: 80px;
}
.section {
  background: #ffffff;
  height: 985px;
  position: absolute;
  right: -32px;
  left: -33px;
  top: -44px;
  overflow: hidden;
}
.image-26 {
  width: 1490px;
  height: 1983px;
  position: absolute;
  left: -33px;
  top: 0px;
  object-fit: cover;
}
.footer {
  background: #060606;
  height: 81px;
  position: absolute;
  right: -67.4px;
  left: -8px;
  top: 1983px;
}
.container {
  width: 16.23%;
  position: absolute;
  right: 83.77%;
  left: 0%;
  bottom: -48px;
  top: 53px;
}
.link {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 12px;
  top: -20px;
}
.icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.link2 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 61px;
  top: 33px;
}
.icon2 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.container2 {
  width: 17.74%;
  position: absolute;
  right: 68.53%;
  left: 13.73%;
  bottom: 11px;
  top: 10px;
}
.list {
  height: 160px;
  position: absolute;
  right: 11.78px;
  left: 12px;
  top: 39.2px;
}
.item {
  height: 24px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.icon3 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 13px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.link-home {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 0px;
  width: 37.97px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.copyright {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -314.24px);
  top: -13.8px;
  width: 78.04px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item2 {
  height: 34px;
  position: absolute;
  right: -59px;
  left: 59px;
  top: -10.2px;
}
.icon4 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.link-about-us {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 66px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item3 {
  height: 34px;
  position: absolute;
  right: -82px;
  left: 82px;
  top: -0.2px;
}
.icon5 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.link-services {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 14px;
  top: 11.2px;
  width: 59px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item4 {
  height: 34px;
  position: absolute;
  right: -73px;
  left: 73px;
  top: 0.2px;
}
.icon6 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.link-terms-of-service {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 103.88px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item5 {
  height: 34px;
  position: absolute;
  right: -124px;
  left: 124px;
  top: 0px;
}
.icon7 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  overflow: hidden;
}
.heading-4-useful-links {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 93.74px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paragraph {
  width: 1320px;
  height: 45.5px;
  position: absolute;
  left: calc(50% - 650px);
  top: 33px;
}
.strong-gp {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 32.05px);
  top: 2.4px;
  width: 18.89px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-rights-reserved {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 6px);
  top: 2.4px;
  width: 120.17px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.designed-by-bootstrap-made {
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 81.52px);
  top: 27.59px;
  width: 163.38px;
  height: 15.21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.designed-by-bootstrap-made-span {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.designed-by-bootstrap-made-span2 {
  color: #ffc451;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.container3 {
  width: 22.05%;
  position: absolute;
  right: 12.8%;
  left: 65.15%;
  bottom: 3.5px;
  top: 15px;
}
.list2 {
  height: 160px;
  position: absolute;
  right: 12.01px;
  left: 12px;
  top: 39.2px;
}
.item6 {
  height: 34px;
  position: absolute;
  right: -26px;
  left: 206px;
  top: -7px;
}
.icon8 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.link-web-development {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 113.16px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item7 {
  height: 34px;
  position: absolute;
  right: -110.99px;
  left: 111px;
  top: 0px;
}
.icon9 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.link-product-management {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 135.14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item8 {
  height: 24px;
  position: absolute;
  right: 79px;
  left: 122px;
  top: 3px;
}
.icon10 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 13px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.link-web-design {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 0px;
  width: 74.06px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-4-our-services {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  position: absolute;
  left: 35px;
  top: 1px;
  width: 96.93px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link3 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.icon11 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.link4 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50px;
  top: 0px;
}
.icon12 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.footer2 {
  background: #060606;
  height: 434.7px;
  position: absolute;
  right: -3856.6px;
  left: 3857px;
  top: 694px;
}
.container4 {
  width: 28.92%;
  position: absolute;
  right: 64.46%;
  left: 6.62%;
  bottom: 155.5px;
  top: 50px;
}
.link-gp {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 37.36px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a-108-adam-street {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 52px;
  width: 116.69px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-york-ny-535022 {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 78px;
  width: 137.19px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strong-phone {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 117.4px;
  width: 158.86px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strong-phone-span {
  color: #ffffff;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.strong-phone-span2 {
  color: #ffffff;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.strong-email {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 143.4px;
  width: 167.68px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strong-email-span {
  color: #ffffff;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.strong-email-span2 {
  color: #ffffff;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.link5 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 12px;
  top: 186px;
}
.icon13 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  overflow: visible;
}
.link6 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 62px;
  top: 186px;
}
.icon14 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  overflow: visible;
}
.link7 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 112px;
  top: 186px;
}
.icon15 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  overflow: visible;
}
.link8 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 162px;
  top: 186px;
}
.icon16 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  overflow: visible;
}
.container5 {
  width: 14.46%;
  position: absolute;
  right: 50%;
  left: 35.54%;
  bottom: 185.5px;
  top: 50px;
}
.list3 {
  height: 160px;
  position: absolute;
  right: 11.6px;
  left: 12px;
  top: 39.2px;
}
.icon17 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 13px;
  overflow: visible;
}
.item9 {
  height: 34px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 24px;
}
.icon18 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-about-us2 {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 56.04px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item10 {
  height: 34px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 58px;
}
.icon19 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-services2 {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 53.1px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item11 {
  height: 34px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 92px;
}
.icon20 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.item12 {
  height: 34px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 126px;
}
.icon21 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-privacy-policy {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 85.6px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container6 {
  width: 14.46%;
  position: absolute;
  right: 35.54%;
  left: 50%;
  bottom: 185.5px;
  top: 50px;
}
.heading-4-our-services2 {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 96.93px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container7 {
  width: 28.92%;
  position: absolute;
  right: 6.63%;
  left: 64.46%;
  bottom: 155.5px;
  top: 50px;
}
.subscribe-to-our-newsletter-and-receive-the-latest-news-about-our-products-and-services {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 41.6px;
  width: 405.95px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-4-our-newsletter {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 117.08px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form {
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  height: 42.6px;
  position: absolute;
  right: 12.2px;
  left: 12px;
  top: 111.2px;
}
.input {
  position: absolute;
  right: 111.48px;
  left: 8.800000190734863px;
  bottom: 6.8px;
  top: 6.800000190734863px;
  overflow: hidden;
}
.input2 {
  background: #ffc451;
  border-radius: 0px 4px 4px 0px;
  width: 110.68px;
  position: absolute;
  left: 304.52px;
  bottom: -0.2px;
  top: -0.20000000298023224px;
  overflow: hidden;
}
.subscribe {
  color: #2a2727;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 35.34px);
  top: 11.9px;
  width: 70.99px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list4 {
  height: 160px;
  position: absolute;
  right: -65.04px;
  left: 309.240234375px;
  top: 19px;
}
.icon22 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 13px;
  overflow: visible;
}
.icon23 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.icon24 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.icon25 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-marketing {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 62.9px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon26 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-graphic-design {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 94.52px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paragraph2 {
  width: 1320px;
  height: 45.5px;
  position: absolute;
  left: calc(50% - 660.5px);
  top: 359.2px;
}
.copyright2 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 113.77px);
  top: 2.4px;
  width: 78.04px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.designed-by-bootstrap-made-span3 {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.designed-by-bootstrap-made-span4 {
  color: #ffc451;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.header {
  background: rgba(0, 0, 0, 0.8);
  width: 1521.6px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
.container8 {
  width: 1320px;
  height: 60px;
  position: absolute;
  left: calc(50% - 660px);
  top: calc(50% - 30px);
}
.link9 {
  width: 51.56px;
  height: 38.4px;
  position: absolute;
  left: 12px;
  top: calc(50% - 19.2px);
}
.heading-1-gp {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 43.47px;
  height: 38.4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div {
  color: #ffc451;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  position: absolute;
  left: 43.14px;
  top: 3.2px;
  width: 8.82px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-list {
  height: 60px;
  position: absolute;
  right: 399.42px;
  left: 288.2001953125px;
  top: 0px;
}
.item-link {
  height: 60px;
  position: absolute;
  right: 576.23px;
  left: -21.5595703125px;
  top: 0px;
}
.item-link-about {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 153.44px;
  top: 20px;
  width: 88px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link-services {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 279.44px;
  top: 20px;
  width: 74px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link-services2 {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 391px;
  top: 20px;
  width: 74px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link2 {
  height: 60px;
  position: absolute;
  right: 80.02px;
  left: 422.6000061035156px;
  top: 0px;
}
.mas {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 64.84px;
  top: 18px;
  width: 36px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon27 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 102.76px;
  top: 36px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.item-link-contact {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 567.44px;
  top: 19px;
  width: 110px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link-about2 {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 20px;
  width: 88px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-3 {
  width: 65px;
  height: 67px;
  position: absolute;
  left: 29px;
  top: 7px;
  object-fit: cover;
}
.link10 {
  background: #ffc451;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1466.6px;
  bottom: 14.73px;
}
.icon28 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 32px;
  overflow: visible;
}
.usuario {
  height: auto;
  position: absolute;
  left: 1317px;
  top: 18px;
  overflow: visible;
}
.section2 {
  background: #060606;
  height: 167px;
  position: absolute;
  right: 0px;
  left: -127px;
  top: 74px;
  overflow: hidden;
}
.motoclub-1-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96.91%;
  height: 494.82%;
  position: absolute;
  right: -101.58%;
  left: 104.66%;
  bottom: -176.17%;
  top: -218.65%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.overlay {
  width: 100%;
  height: auto;
  position: absolute;
  right: -5.12%;
  left: 5.12%;
  bottom: -20px;
  top: 0px;
  overflow: visible;
}
.historia {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 476px;
  top: 46px;
  width: 775px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fcm-1 {
  border-radius: 11px;
  width: 503px;
  height: 370px;
  position: absolute;
  left: 900px;
  top: 350px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: 38px;
  top: 414px;
  width: 843px;
}
._03-harley-davidson-en-japon-1 {
  border-radius: 11px;
  width: 411px;
  height: 513px;
  position: absolute;
  left: 38px;
  top: 638px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-nesciunt-neque-porro-quisquam-est-qui-dolorem-ipsum-quia-dolor-sit-amet-consectetur-adipisci-velit-sed-quia-non-numquam-eius-modi-tempora-incidunt-ut-labore-et-dolore-magnam-aliquam-quaerat-voluptatem-ut-enim-ad-minima-veniam-quis-nostrum-exercitationem-ullam-corporis-suscipit-laboriosam-nisi-ut-aliquid-ex-ea-commodi-consequatur-quis-autem-vel-eum-iure-reprehenderit-qui-in-ea-voluptate-velit-esse-quam-nihil-molestiae-consequatur-vel-illum-qui-dolorem-eum-fugiat-quo-voluptas-nulla-pariatur {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: 549px;
  top: 756px;
  width: 843px;
}
._01-1943-camp-carsons-rough-1 {
  border-radius: 11px;
  width: 426px;
  height: 641px;
  position: absolute;
  left: 966px;
  top: 999px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.at-vero-eos-et-accusamus-et-iusto-odio-dignissimos-ducimus-qui-blanditiis-praesentium-voluptatum-deleniti-atque-corrupti-quos-dolores-et-quas-molestias-excepturi-sint-occaecati-cupiditate-non-provident-similique-sunt-in-culpa-qui-officia-deserunt-mollitia-animi-id-est-laborum-et-dolorum-fuga-et-harum-quidem-rerum-facilis-est-et-expedita-distinctio-nam-libero-tempore-cum-soluta-nobis-est-eligendi-optio-cumque-nihil-impedit-quo-minus-id-quod-maxime-placeat-facere-possimus-omnis-voluptas-assumenda-est-omnis-dolor-repellendus-temporibus-autem-quibusdam-et-aut-officiis-debitis-aut-rerum-necessitatibus-saepe-eveniet-ut-et-voluptates-repudiandae-sint-et-molestiae-non-recusandae-itaque-earum-rerum-hic-tenetur-a-sapiente-delectus-ut-aut-reiciendis-voluptatibus-maiores-alias-consequatur-aut-perferendis-doloribus-asperiores-repellat {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: 45px;
  top: 1164px;
  width: 843px;
}
.uno-de-los-moto-club-mas-famosos-de-lahistoria-00-768-x-421-1 {
  width: 538px;
  height: 376px;
  position: absolute;
  left: 40px;
  top: 1571px;
  object-fit: cover;
}
.at-vero-eos-et-accusamus-et-iusto-odio-dignissimos-ducimus-qui-blanditiis-praesentium-voluptatum-deleniti-atque-corrupti-quos-dolores-et-quas-molestias-excepturi-sint-occaecati-cupiditate-non-provident-similique-sunt-in-culpa-qui-officia-deserunt-mollitia-animi-id-est-laborum-et-dolorum-fuga-et-harum-quidem-rerum-facilis-est-et-expedita-distinctio-nam-libero-tempore-cum-soluta-nobis-est-eligendi-optio-cumque-nihil-impedit-quo-minus-id-quod-maxime-placeat-facere-possimus-omnis-voluptas-assumenda-est-omnis-dolor-repellendus-temporibus-autem-quibusdam-et-aut-officiis-debitis-aut-rerum-necessitatibus-saepe-eveniet-ut-et-voluptates-repudiandae-sint-et-molestiae-non-recusandae-itaque-earum-rerum-hic-tenetur-a-sapiente-delectus-ut-aut-reiciendis-voluptatibus-maiores-alias-consequatur-aut-perferendis-doloribus-asperiores-repellat2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: 596px;
  top: 1664px;
  width: 843px;
}
