.mercado-comprar-plantilla,
.mercado-comprar-plantilla * {
  box-sizing: border-box;
}
.mercado-comprar-plantilla {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.iframe-html-body {
  background: #ffffff;
  height: 1024px;
  position: absolute;
  right: -8px;
  left: -9px;
  top: 0px;
}
.footer {
  background: #060606;
  height: 434.7px;
  position: absolute;
  right: -3856.6px;
  left: 3857px;
  top: 694px;
}
.container {
  width: 28.92%;
  position: absolute;
  right: 64.46%;
  left: 6.62%;
  bottom: 155.5px;
  top: 50px;
}
.link-gp {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 37.36px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a-108-adam-street {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 52px;
  width: 116.69px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-york-ny-535022 {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 78px;
  width: 137.19px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strong-phone {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 117.4px;
  width: 158.86px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strong-phone-span {
  color: #ffffff;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.strong-phone-span2 {
  color: #ffffff;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.strong-email {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 143.4px;
  width: 167.68px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strong-email-span {
  color: #ffffff;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.strong-email-span2 {
  color: #ffffff;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.link {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 12px;
  top: 186px;
}
.icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  overflow: visible;
}
.link2 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 62px;
  top: 186px;
}
.icon2 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  overflow: visible;
}
.link3 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 112px;
  top: 186px;
}
.icon3 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  overflow: visible;
}
.link4 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 162px;
  top: 186px;
}
.icon4 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  overflow: visible;
}
.container2 {
  width: 14.46%;
  position: absolute;
  right: 50%;
  left: 35.54%;
  bottom: 185.5px;
  top: 50px;
}
.list {
  height: 160px;
  position: absolute;
  right: 11.6px;
  left: 12px;
  top: 39.2px;
}
.item {
  height: 24px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.icon5 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 13px;
  overflow: visible;
}
.link-home {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 0px;
  width: 37.97px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item2 {
  height: 34px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 24px;
}
.icon6 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-about-us {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 56.04px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item3 {
  height: 34px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 58px;
}
.icon7 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-services {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 53.1px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item4 {
  height: 34px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 92px;
}
.icon8 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-terms-of-service {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 103.88px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item5 {
  height: 34px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 126px;
}
.icon9 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-privacy-policy {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 85.6px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-4-useful-links {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 93.74px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container3 {
  width: 14.46%;
  position: absolute;
  right: 35.54%;
  left: 50%;
  bottom: 185.5px;
  top: 50px;
}
.heading-4-our-services {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 96.93px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container4 {
  width: 28.92%;
  position: absolute;
  right: 6.63%;
  left: 64.46%;
  bottom: 155.5px;
  top: 50px;
}
.subscribe-to-our-newsletter-and-receive-the-latest-news-about-our-products-and-services {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 41.6px;
  width: 405.95px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-4-our-newsletter {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 117.08px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form {
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  height: 42.6px;
  position: absolute;
  right: 12.2px;
  left: 12px;
  top: 111.2px;
}
.input {
  position: absolute;
  right: 111.48px;
  left: 8.800000190734863px;
  bottom: 6.8px;
  top: 6.800000190734863px;
  overflow: hidden;
}
.input2 {
  background: #ffc451;
  border-radius: 0px 4px 4px 0px;
  width: 110.68px;
  position: absolute;
  left: 304.52px;
  bottom: -0.2px;
  top: -0.20000000298023224px;
  overflow: hidden;
}
.subscribe {
  color: #2a2727;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 35.34px);
  top: 11.9px;
  width: 70.99px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list2 {
  height: 160px;
  position: absolute;
  right: -65.04px;
  left: 309.240234375px;
  top: 19px;
}
.icon10 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 13px;
  overflow: visible;
}
.link-web-design {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 0px;
  width: 74.06px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon11 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-web-development {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 113.16px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon12 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-product-management {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 135.14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon13 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-marketing {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 62.9px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon14 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  overflow: visible;
}
.link-graphic-design {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 94.52px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paragraph {
  width: 1320px;
  height: 45.5px;
  position: absolute;
  left: calc(50% - 660.5px);
  top: 359.2px;
}
.copyright {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 113.77px);
  top: 2.4px;
  width: 78.04px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.strong-gp {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 32.05px);
  top: 2.4px;
  width: 18.89px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-rights-reserved {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 6px);
  top: 2.4px;
  width: 120.17px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.designed-by-bootstrap-made {
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 81.52px);
  top: 27.59px;
  width: 163.38px;
  height: 15.21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.designed-by-bootstrap-made-span {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.designed-by-bootstrap-made-span2 {
  color: #ffc451;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.line-19 {
  margin-top: -4px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.57);
  border-width: 4px 0 0 0;
  width: 80.01px;
  height: 0px;
  position: absolute;
  left: 1421px;
  top: 338px;
  transform-origin: 0 0;
  transform: rotate(89.284deg) scale(1, 1);
}
.header {
  background: rgba(0, 0, 0, 0.8);
  width: 1521.6px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
.container5 {
  width: 1320px;
  height: 60px;
  position: absolute;
  left: calc(50% - 660px);
  top: calc(50% - 30px);
}
.link5 {
  width: 51.56px;
  height: 38.4px;
  position: absolute;
  left: 12px;
  top: calc(50% - 19.2px);
}
.heading-1-gp {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 43.47px;
  height: 38.4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div {
  color: #ffc451;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  position: absolute;
  left: 43.14px;
  top: 3.2px;
  width: 8.82px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-list {
  height: 60px;
  position: absolute;
  right: 399.42px;
  left: 288.2001953125px;
  top: 0px;
}
.item-link {
  height: 60px;
  position: absolute;
  right: 576.23px;
  left: -21.5595703125px;
  top: 0px;
}
.item-link-about {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 153.44px;
  top: 20px;
  width: 88px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link-services {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 279.44px;
  top: 20px;
  width: 74px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link-services2 {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 391px;
  top: 20px;
  width: 74px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link2 {
  height: 60px;
  position: absolute;
  right: 80.02px;
  left: 422.6000061035156px;
  top: 0px;
}
.mas {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 64.84px;
  top: 18px;
  width: 36px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon15 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 102.76px;
  top: 36px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.item-link-contact {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 567.44px;
  top: 19px;
  width: 110px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link-about2 {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 20px;
  width: 88px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-3 {
  width: 65px;
  height: 67px;
  position: absolute;
  left: 29px;
  top: 7px;
  object-fit: cover;
}
.link6 {
  background: #ffc451;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1466.6px;
  bottom: 14.73px;
}
.icon16 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 32px;
  overflow: visible;
}
.footer2 {
  background: #060606;
  height: 81px;
  position: absolute;
  right: -83px;
  left: -9px;
  top: 943px;
}
.container6 {
  width: 16.23%;
  position: absolute;
  right: 83.77%;
  left: 0%;
  bottom: -48px;
  top: 53px;
}
.link7 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 12px;
  top: -20px;
}
.icon17 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.link8 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 61px;
  top: 33px;
}
.icon18 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.container7 {
  width: 17.74%;
  position: absolute;
  right: 68.53%;
  left: 13.73%;
  bottom: 11px;
  top: 10px;
}
.list3 {
  height: 160px;
  position: absolute;
  right: 11.78px;
  left: 12px;
  top: 39.2px;
}
.icon19 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 13px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.copyright2 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -314.24px);
  top: -13.8px;
  width: 78.04px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item6 {
  height: 34px;
  position: absolute;
  right: -59px;
  left: 59px;
  top: -10.2px;
}
.icon20 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.link-about-us2 {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 66px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item7 {
  height: 34px;
  position: absolute;
  right: -82px;
  left: 82px;
  top: -0.2px;
}
.icon21 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.link-services2 {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 14px;
  top: 11.2px;
  width: 59px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item8 {
  height: 34px;
  position: absolute;
  right: -73px;
  left: 73px;
  top: 0.2px;
}
.icon22 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.item9 {
  height: 34px;
  position: absolute;
  right: -124px;
  left: 124px;
  top: 0px;
}
.icon23 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  overflow: hidden;
}
.paragraph2 {
  width: 1320px;
  height: 45.5px;
  position: absolute;
  left: calc(50% - 650px);
  top: 33px;
}
.designed-by-bootstrap-made-span3 {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.designed-by-bootstrap-made-span4 {
  color: #ffc451;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
.container8 {
  width: 22.05%;
  position: absolute;
  right: 12.8%;
  left: 65.15%;
  bottom: 3.5px;
  top: 15px;
}
.list4 {
  height: 160px;
  position: absolute;
  right: 12.01px;
  left: 12px;
  top: 39.2px;
}
.item10 {
  height: 34px;
  position: absolute;
  right: -26px;
  left: 206px;
  top: -7px;
}
.icon24 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.item11 {
  height: 34px;
  position: absolute;
  right: -110.99px;
  left: 111px;
  top: 0px;
}
.icon25 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 23px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.item12 {
  height: 24px;
  position: absolute;
  right: 79px;
  left: 122px;
  top: 3px;
}
.icon26 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 13px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.heading-4-our-services2 {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  position: absolute;
  left: 35px;
  top: 1px;
  width: 96.93px;
  height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link9 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.icon27 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.link10 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50px;
  top: 0px;
}
.icon28 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 27.6px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.ellipse-8 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 45px;
  height: 44px;
  position: absolute;
  left: 1317px;
  top: 18px;
}
.user-profile-03 {
  width: 31px;
  height: 34px;
  position: absolute;
  left: 1324px;
  top: 23px;
  overflow: visible;
}
.section {
  background: #060606;
  height: 167px;
  position: absolute;
  right: 0px;
  left: -127px;
  top: 74px;
  overflow: hidden;
}
.motoclub-1-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96.91%;
  height: 494.82%;
  position: absolute;
  right: -101.58%;
  left: 104.66%;
  bottom: -176.17%;
  top: -218.65%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.overlay {
  width: 100%;
  height: auto;
  position: absolute;
  right: -5.12%;
  left: 5.12%;
  bottom: -20px;
  top: 0px;
  overflow: visible;
}
.mercado {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 516px;
  top: 46px;
  width: 695px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-shadow {
  background: #ffffff;
  border-radius: 5px;
  width: 1278px;
  position: absolute;
  left: 90px;
  bottom: 128px;
  top: 295px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.heading-4-walter-white {
  color: #151515;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 40px;
  line-height: 21.6px;
  font-weight: 700;
  position: absolute;
  left: 847px;
  top: 73px;
  width: 243px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._10-999 {
  color: rgba(68, 68, 68, 0.6);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
  line-height: 19.5px;
  font-weight: 400;
  position: absolute;
  left: 847px;
  top: 164px;
  width: 130.11px;
  height: 19.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-18 {
  width: 571px;
  height: 372px;
  position: absolute;
  left: 230px;
  top: 46px;
  object-fit: cover;
}
.seminueva {
  color: rgba(68, 68, 68, 0.6);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
  line-height: 19.5px;
  font-weight: 400;
  position: absolute;
  left: 847px;
  top: 121px;
  width: 130.11px;
  height: 19.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.informacion {
  color: rgba(68, 68, 68, 0.6);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
  line-height: 19.5px;
  font-weight: 400;
  position: absolute;
  left: 835px;
  top: 346px;
  width: 130.11px;
  height: 19.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-19 {
  width: 162px;
  height: 112px;
  position: absolute;
  left: 42px;
  top: 46px;
  object-fit: cover;
}
.rectangle-54 {
  background: rgba(217, 217, 217, 0.36);
  width: 162px;
  height: 114px;
  position: absolute;
  left: 42px;
  top: 209px;
}
.plus-01 {
  width: 47px;
  height: 46px;
  position: absolute;
  left: 99px;
  top: 243px;
  overflow: visible;
}
.rectangle-62 {
  background: #00b2ff;
  border-radius: 9px;
  width: 154px;
  height: 59px;
  position: absolute;
  left: 835px;
  top: 234px;
}
.preguntar {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
  line-height: 19.5px;
  font-weight: 400;
  position: absolute;
  left: 857px;
  top: 254px;
  width: 130.11px;
  height: 19.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.map-02 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 835px;
  top: 382px;
  overflow: visible;
}
.localizacion {
  color: rgba(68, 68, 68, 0.6);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
  line-height: 19.5px;
  font-weight: 400;
  position: absolute;
  left: 869px;
  top: 384px;
  width: 138px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.toluca-mexico {
  color: rgba(68, 68, 68, 0.6);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 19.5px;
  font-weight: 400;
  position: absolute;
  left: 835px;
  top: 418px;
  width: 144px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-4-walter-white2 {
  color: #151515;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 40px;
  line-height: 21.6px;
  font-weight: 700;
  position: absolute;
  left: 230px;
  top: 497px;
  width: 243px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
