.log-in-plantilla {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .log-in-plantilla .overlap-wrapper {
    background-color: #ffffff;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
  }
  
  .log-in-plantilla .overlap {
    height: 1024px;
    left: -9px;
    position: relative;
    width: 1457px;
  }
  
  .log-in-plantilla .iframe-html-body {
    background-color: #ffffff;
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1457px;
  }
  
  .log-in-plantilla .main {
    height: 7556px;
    left: 10px;
    position: absolute;
    top: 80px;
    width: 1457px;
  }
  
  .log-in-plantilla .section {
    background-color: #060606;
    height: 950px;
    left: -25px;
    position: relative;
    top: -5px;
    width: 1482px;
  }
  
  .log-in-plantilla .container {
    height: 410px;
    left: 81px;
    position: relative;
    top: 290px;
    width: 1320px;
  }
  
  .log-in-plantilla .div {
    height: 180px;
    left: 330px;
    position: absolute;
    top: 0;
    width: 660px;
  }
  
  .log-in-plantilla .heading {
    height: 134px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 636px;
  }
  
  .log-in-plantilla .overlap-group {
    background-image: url(./motoclub1-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 949px;
    left: -399px;
    position: relative;
    top: -290px;
    width: 1440px;
  }
  
  .log-in-plantilla .image {
    height: 874px;
    left: 300px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 826px;
  }
  
  .log-in-plantilla .text-wrapper {
    -webkit-text-stroke: 1px #000000;
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 56px;
    font-weight: 700;
    height: 146px;
    left: 455px;
    letter-spacing: 0;
    line-height: 67.2px;
    position: absolute;
    text-align: center;
    top: 282px;
    width: 522px;
  }
  
  .log-in-plantilla .text-wrapper-2 {
    -webkit-text-stroke: 0.5px #000000;
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 36px;
    left: 110px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 143px;
    white-space: nowrap;
    width: 440px;
  }
  
  .log-in-plantilla .border {
    border: 1px solid;
    border-color: #ffffff4c;
    height: 157px;
    left: 122px;
    position: absolute;
    top: 252px;
    width: 196px;
  }
  
  .log-in-plantilla .heading-link-lorem {
    color: #ffffffcc;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 24px;
    left: 35px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 87px;
    white-space: nowrap;
    width: 126px;
  }
  
  .log-in-plantilla .gps-instance {
    height: 47px !important;
    left: 73px !important;
    position: absolute !important;
    top: 38px !important;
    width: 50px !important;
  }
  
  .log-in-plantilla .overlap-group-wrapper {
    border: 1px solid;
    border-color: #ffffff4c;
    height: 157px;
    left: 782px;
    position: absolute;
    top: 254px;
    width: 196px;
  }
  
  .log-in-plantilla .overlap-2 {
    height: 85px;
    left: 43px;
    position: relative;
    top: 41px;
    width: 110px;
  }
  
  .log-in-plantilla .heading-link {
    height: 50px;
    left: 0;
    position: absolute;
    top: 35px;
    width: 110px;
  }
  
  .log-in-plantilla .text-wrapper-3 {
    color: #ffffffcc;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 110px;
  }
  
  .log-in-plantilla .rock-and-roll-hand {
    height: 38px !important;
    left: 36px !important;
    position: absolute !important;
    top: 0 !important;
    width: 37px !important;
  }
  
  .log-in-plantilla .div-wrapper {
    border: 1px solid;
    border-color: #ffffff4c;
    height: 157px;
    left: 562px;
    position: absolute;
    top: 254px;
    width: 196px;
  }
  
  .log-in-plantilla .overlap-3 {
    height: 68px;
    left: 29px;
    position: relative;
    top: 41px;
    width: 138px;
  }
  
  .log-in-plantilla .icon {
    height: 44px;
    left: 42px;
    position: absolute;
    top: 0;
    width: 48px;
  }
  
  .log-in-plantilla .heading-link-magni {
    color: #ffffffcc;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
    width: 138px;
  }
  
  .log-in-plantilla .border-2 {
    border: 1px solid;
    border-color: #ffffff4c;
    height: 157px;
    left: 1002px;
    position: absolute;
    top: 254px;
    width: 196px;
  }
  
  .log-in-plantilla .overlap-4 {
    height: 87px;
    left: 56px;
    position: relative;
    top: 39px;
    width: 84px;
  }
  
  .log-in-plantilla .heading-link-2 {
    height: 50px;
    left: 0;
    position: absolute;
    top: 37px;
    width: 84px;
  }
  
  .log-in-plantilla .text-wrapper-4 {
    color: #ffffffcc;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    left: -25px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 133px;
  }
  
  .log-in-plantilla .alert-triangle {
    height: 37px !important;
    left: 22px !important;
    position: absolute !important;
    top: 0 !important;
    width: 40px !important;
  }
  
  .log-in-plantilla .border-3 {
    border: 1px solid;
    border-color: #ffffff4c;
    height: 157px;
    left: 342px;
    position: absolute;
    top: 253px;
    width: 196px;
  }
  
  .log-in-plantilla .heading-link-dolor {
    color: #ffffffcc;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 24px;
    left: 36px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 87px;
    white-space: nowrap;
    width: 124px;
  }
  
  .log-in-plantilla .user-multiple-group {
    height: 32px !important;
    left: 81px !important;
    position: absolute !important;
    top: 47px !important;
    width: 33px !important;
  }
  
  .log-in-plantilla .footer {
    background-color: #060606;
    height: 435px;
    left: 3857px;
    position: absolute;
    top: 694px;
    width: 1457px;
  }
  
  .log-in-plantilla .container-2 {
    height: 229px;
    left: 96px;
    position: absolute;
    top: 50px;
    width: 421px;
  }
  
  .log-in-plantilla .link-GP {
    color: #ffffff;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 26px;
    font-weight: 700;
    height: 26px;
    left: 12px;
    letter-spacing: 1.00px;
    line-height: 26px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 37px;
  }
  
  .log-in-plantilla .text-wrapper-5 {
    color: #ffffff;
    font-family: "Raleway-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 21px;
    left: 12px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 51px;
    white-space: nowrap;
    width: 117px;
  }
  
  .log-in-plantilla .text-wrapper-6 {
    color: #ffffff;
    font-family: "Raleway-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 21px;
    left: 12px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 77px;
    white-space: nowrap;
    width: 137px;
  }
  
  .log-in-plantilla .strong-phone {
    color: #ffffff;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 12px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 116px;
    white-space: nowrap;
    width: 159px;
  }
  
  .log-in-plantilla .span {
    font-weight: 700;
  }
  
  .log-in-plantilla .text-wrapper-7 {
    font-family: "Raleway-Regular", Helvetica;
  }
  
  .log-in-plantilla .strong-email {
    color: #ffffff;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 12px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 142px;
    white-space: nowrap;
    width: 168px;
  }
  
  .log-in-plantilla .link {
    height: 40px;
    left: -14227px;
    position: absolute;
    top: 6375px;
    width: 40px;
  }
  
  .log-in-plantilla .img {
    height: 40px;
    left: -14177px;
    position: absolute;
    top: 6375px;
    width: 40px;
  }
  
  .log-in-plantilla .link-2 {
    height: 40px;
    left: -14127px;
    position: absolute;
    top: 6375px;
    width: 40px;
  }
  
  .log-in-plantilla .link-3 {
    height: 40px;
    left: -14077px;
    position: absolute;
    top: 6375px;
    width: 40px;
  }
  
  .log-in-plantilla .container-3 {
    height: 199px;
    left: 518px;
    position: absolute;
    top: 50px;
    width: 211px;
  }
  
  .log-in-plantilla .list {
    height: 160px;
    left: 12px;
    position: absolute;
    top: 39px;
    width: 187px;
  }
  
  .log-in-plantilla .item {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 187px;
  }
  
  .log-in-plantilla .icon-2 {
    height: 12px;
    left: -14673px;
    position: absolute;
    top: 6163px;
    width: 12px;
  }
  
  .log-in-plantilla .link-home {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 16px;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 38px;
  }
  
  .log-in-plantilla .item-2 {
    height: 34px;
    left: 0;
    position: absolute;
    top: 24px;
    width: 187px;
  }
  
  .log-in-plantilla .icon-3 {
    height: 12px;
    left: -14673px;
    position: absolute;
    top: 6149px;
    width: 12px;
  }
  
  .log-in-plantilla .link-about-us {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 16px;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 56px;
  }
  
  .log-in-plantilla .item-3 {
    height: 34px;
    left: 0;
    position: absolute;
    top: 58px;
    width: 187px;
  }
  
  .log-in-plantilla .icon-4 {
    height: 12px;
    left: -14673px;
    position: absolute;
    top: 6115px;
    width: 12px;
  }
  
  .log-in-plantilla .link-services {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 16px;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 53px;
  }
  
  .log-in-plantilla .item-4 {
    height: 34px;
    left: 0;
    position: absolute;
    top: 92px;
    width: 187px;
  }
  
  .log-in-plantilla .icon-5 {
    height: 12px;
    left: -14673px;
    position: absolute;
    top: 6081px;
    width: 12px;
  }
  
  .log-in-plantilla .link-terms-of {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 16px;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 104px;
  }
  
  .log-in-plantilla .item-5 {
    height: 34px;
    left: 0;
    position: absolute;
    top: 126px;
    width: 187px;
  }
  
  .log-in-plantilla .icon-6 {
    height: 12px;
    left: -14673px;
    position: absolute;
    top: 6047px;
    width: 12px;
  }
  
  .log-in-plantilla .link-privacy-policy {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 16px;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 86px;
  }
  
  .log-in-plantilla .heading-useful {
    color: #ffffff;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 19px;
    left: 12px;
    letter-spacing: 0;
    line-height: 19.2px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 94px;
  }
  
  .log-in-plantilla .heading-our-wrapper {
    height: 199px;
    left: 728px;
    position: absolute;
    top: 50px;
    width: 211px;
  }
  
  .log-in-plantilla .heading-our {
    color: #ffffff;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 19px;
    left: 12px;
    letter-spacing: 0;
    line-height: 19.2px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 97px;
  }
  
  .log-in-plantilla .container-4 {
    height: 229px;
    left: 939px;
    position: absolute;
    top: 50px;
    width: 421px;
  }
  
  .log-in-plantilla .overlap-group-2 {
    height: 160px;
    left: 12px;
    position: absolute;
    top: 19px;
    width: 474px;
  }
  
  .log-in-plantilla .subscribe-to-our {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 37px;
    left: 0;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 22px;
    width: 406px;
  }
  
  .log-in-plantilla .form {
    border: 1px solid;
    border-color: #ffffff33;
    border-radius: 4px;
    height: 43px;
    left: 0;
    position: absolute;
    top: 92px;
    width: 397px;
  }
  
  .log-in-plantilla .input {
    background-color: #ffc451;
    border-radius: 0px 4px 4px 0px;
    height: 43px;
    left: 305px;
    overflow: hidden;
    position: relative;
    width: 111px;
  }
  
  .log-in-plantilla .text-wrapper-8 {
    color: #2a2727;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 19px;
    left: 20px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 11px;
    white-space: nowrap;
    width: 71px;
  }
  
  .log-in-plantilla .list-2 {
    height: 160px;
    left: 297px;
    position: absolute;
    top: 0;
    width: 177px;
  }
  
  .log-in-plantilla .item-6 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 177px;
  }
  
  .log-in-plantilla .icon-7 {
    height: 12px;
    left: -15391px;
    position: absolute;
    top: 6183px;
    width: 12px;
  }
  
  .log-in-plantilla .link-web-design {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 16px;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 74px;
  }
  
  .log-in-plantilla .item-7 {
    height: 34px;
    left: 0;
    position: absolute;
    top: 24px;
    width: 177px;
  }
  
  .log-in-plantilla .icon-8 {
    height: 12px;
    left: -15391px;
    position: absolute;
    top: 6169px;
    width: 12px;
  }
  
  .log-in-plantilla .link-web-development {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 16px;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 113px;
  }
  
  .log-in-plantilla .item-8 {
    height: 34px;
    left: 0;
    position: absolute;
    top: 58px;
    width: 177px;
  }
  
  .log-in-plantilla .icon-9 {
    height: 12px;
    left: -15391px;
    position: absolute;
    top: 6135px;
    width: 12px;
  }
  
  .log-in-plantilla .link-product {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 16px;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 135px;
  }
  
  .log-in-plantilla .item-9 {
    height: 34px;
    left: 0;
    position: absolute;
    top: 92px;
    width: 177px;
  }
  
  .log-in-plantilla .icon-10 {
    height: 12px;
    left: -15391px;
    position: absolute;
    top: 6101px;
    width: 12px;
  }
  
  .log-in-plantilla .link-marketing {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 16px;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 63px;
  }
  
  .log-in-plantilla .item-10 {
    height: 34px;
    left: 0;
    position: absolute;
    top: 126px;
    width: 177px;
  }
  
  .log-in-plantilla .icon-11 {
    height: 12px;
    left: -15391px;
    position: absolute;
    top: 6067px;
    width: 12px;
  }
  
  .log-in-plantilla .link-graphic-design {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 16px;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 95px;
  }
  
  .log-in-plantilla .heading-our-2 {
    color: #ffffff;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 19px;
    left: 12px;
    letter-spacing: 0;
    line-height: 19.2px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 117px;
  }
  
  .log-in-plantilla .paragraph {
    height: 46px;
    left: 68px;
    position: absolute;
    top: 359px;
    width: 1320px;
  }
  
  .log-in-plantilla .text-wrapper-9 {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 546px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 1px;
    white-space: nowrap;
    width: 78px;
  }
  
  .log-in-plantilla .strong-GP {
    color: #ffffff;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    height: 16px;
    left: 628px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 1px;
    white-space: nowrap;
    width: 19px;
  }
  
  .log-in-plantilla .text-wrapper-10 {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 654px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 1px;
    white-space: nowrap;
    width: 120px;
  }
  
  .log-in-plantilla .designed-by {
    color: transparent;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    height: 15px;
    left: 578px;
    letter-spacing: 0;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 27px;
    white-space: nowrap;
    width: 163px;
  }
  
  .log-in-plantilla .text-wrapper-11 {
    color: #ffffff;
  }
  
  .log-in-plantilla .text-wrapper-12 {
    color: #ffc451;
  }
  
  .log-in-plantilla .header {
    background-color: #000000cc;
    box-shadow: 0px 0px 18px #0000001a;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1522px;
  }
  
  .log-in-plantilla .container-5 {
    height: 60px;
    left: 101px;
    position: absolute;
    top: 10px;
    width: 1320px;
  }
  
  .log-in-plantilla .link-4 {
    height: 38px;
    left: 12px;
    position: absolute;
    top: 11px;
    width: 52px;
  }
  
  .log-in-plantilla .overlap-group-3 {
    height: 38px;
    position: relative;
    top: -1px;
  }
  
  .log-in-plantilla .heading-GP {
    color: #ffffff;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    height: 38px;
    left: 0;
    letter-spacing: 0;
    line-height: 38.4px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 43px;
  }
  
  .log-in-plantilla .text-wrapper-13 {
    color: #ffc451;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 32px;
    left: 43px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
    width: 9px;
  }
  
  .log-in-plantilla .nav-list {
    height: 60px;
    left: 288px;
    position: absolute;
    top: 0;
    width: 632px;
  }
  
  .log-in-plantilla .item-link-about {
    color: #ffffffe7;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 153px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 19px;
    white-space: nowrap;
    width: 88px;
  }
  
  .log-in-plantilla .item-link-services {
    color: #ffffffe7;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 279px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 19px;
    white-space: nowrap;
    width: 74px;
  }
  
  .log-in-plantilla .overlap-5 {
    height: 60px;
    left: 391px;
    position: absolute;
    top: 0;
    width: 161px;
  }
  
  .log-in-plantilla .item-link-services-2 {
    color: #ffffffe7;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 19px;
    white-space: nowrap;
    width: 74px;
  }
  
  .log-in-plantilla .item-link {
    height: 60px;
    left: 32px;
    position: absolute;
    top: 0;
    width: 130px;
  }
  
  .log-in-plantilla .text-wrapper-14 {
    color: #ffffffe7;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 65px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 17px;
    white-space: nowrap;
    width: 36px;
  }
  
  .log-in-plantilla .icon-12 {
    height: 12px;
    left: 103px;
    position: absolute;
    top: 24px;
    width: 12px;
  }
  
  .log-in-plantilla .item-link-contact {
    color: #ffffffe7;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 567px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 18px;
    white-space: nowrap;
    width: 110px;
  }
  
  .log-in-plantilla .item-link-about-2 {
    color: #ffffffe7;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 27px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 19px;
    white-space: nowrap;
    width: 88px;
  }
  
  .log-in-plantilla .link-5 {
    border: 1px solid;
    border-color: #ffc451;
    border-radius: 4px;
    height: 40px;
    left: 1196px;
    position: absolute;
    top: 10px;
    width: 134px;
  }
  
  .log-in-plantilla .text-wrapper-15 {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 22px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 11px;
    white-space: nowrap;
    width: 89px;
  }
  
  .log-in-plantilla .text-wrapper-16 {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 1097px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 21px;
    white-space: nowrap;
    width: 83px;
  }
  
  .log-in-plantilla .image-2 {
    height: 67px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 65px;
  }
  
  .log-in-plantilla .link-6 {
    height: 40px;
    left: -8819px;
    position: absolute;
    top: 7902px;
    width: 40px;
  }
  
  .log-in-plantilla .footer-2 {
    background-color: #060606;
    height: 81px;
    left: 10px;
    position: absolute;
    top: 943px;
    width: 1439px;
  }
  
  .log-in-plantilla .overlap-6 {
    height: 71px;
    position: relative;
    top: 10px;
    width: 1390px;
  }
  
  .log-in-plantilla .container-6 {
    height: 48px;
    left: 0;
    position: absolute;
    top: 23px;
    width: 234px;
  }
  
  .log-in-plantilla .link-7 {
    height: 40px;
    left: 61px;
    position: absolute;
    top: 23px;
    width: 40px;
  }
  
  .log-in-plantilla .container-7 {
    height: 60px;
    left: 198px;
    position: absolute;
    top: 0;
    width: 255px;
  }
  
  .log-in-plantilla .list-3 {
    height: 160px;
    left: 12px;
    position: absolute;
    top: 39px;
    width: 231px;
  }
  
  .log-in-plantilla .overlap-group-4 {
    height: 34px;
    left: 0;
    position: absolute;
    top: -10px;
    width: 290px;
  }
  
  .log-in-plantilla .item-11 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 231px;
  }
  
  .log-in-plantilla .icon-13 {
    height: 12px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 12px;
  }
  
  .log-in-plantilla .item-12 {
    height: 34px;
    left: 59px;
    position: absolute;
    top: 0;
    width: 231px;
  }
  
  .log-in-plantilla .icon-14 {
    height: 12px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 12px;
  }
  
  .log-in-plantilla .link-about-us-2 {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 16px;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 66px;
  }
  
  .log-in-plantilla .item-13 {
    height: 34px;
    left: 82px;
    position: absolute;
    top: 0;
    width: 231px;
  }
  
  .log-in-plantilla .link-services-2 {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 14px;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: 10px;
    white-space: nowrap;
    width: 59px;
  }
  
  .log-in-plantilla .item-14 {
    height: 34px;
    left: 73px;
    position: absolute;
    top: 0;
    width: 231px;
  }
  
  .log-in-plantilla .item-15 {
    height: 34px;
    left: 124px;
    position: absolute;
    top: 0;
    width: 231px;
  }
  
  .log-in-plantilla .text-wrapper-17 {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 429px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: -15px;
    white-space: nowrap;
    width: 78px;
  }
  
  .log-in-plantilla .paragraph-2 {
    height: 46px;
    left: 70px;
    position: absolute;
    top: 23px;
    width: 1320px;
  }
  
  .log-in-plantilla .container-8 {
    height: 27px;
    left: 860px;
    position: absolute;
    top: 15px;
    width: 291px;
  }
  
  .log-in-plantilla .overlap-7 {
    height: 34px;
    left: 35px;
    position: relative;
    top: -7px;
    width: 282px;
  }
  
  .log-in-plantilla .item-16 {
    height: 34px;
    left: 171px;
    position: absolute;
    top: 0;
    width: 111px;
  }
  
  .log-in-plantilla .overlap-group-5 {
    height: 34px;
    left: 16px;
    position: absolute;
    top: 0;
    width: 206px;
  }
  
  .log-in-plantilla .link-web-development-2 {
    color: #ffffffb2;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    left: 0;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 113px;
  }
  
  .log-in-plantilla .item-17 {
    height: 34px;
    left: 95px;
    position: absolute;
    top: 0;
    width: 111px;
  }
  
  .log-in-plantilla .item-18 {
    height: 24px;
    left: 87px;
    position: absolute;
    top: 10px;
    width: 90px;
  }
  
  .log-in-plantilla .heading-our-3 {
    color: #ffffff;
    font-family: "Raleway-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 19px;
    left: 0;
    letter-spacing: 0;
    line-height: 19.2px;
    position: absolute;
    top: 7px;
    white-space: nowrap;
    width: 97px;
  }
  
  .log-in-plantilla .link-8 {
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }
  
  .log-in-plantilla .link-9 {
    height: 40px;
    left: 50px;
    position: absolute;
    top: 0;
    width: 40px;
  }
  