.registro-clinico {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.registro-clinico .div {
  background-color: #ffffff;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.registro-clinico .overlap {
  height: 955px;
  left: 0;
  position: absolute;
  top: 69px;
  width: 1440px;
}

.registro-clinico .rectangle {
  background-color: #ffffff;
  height: 955px;
  left: 0;
  position: absolute;
  top: 0;
  width: 720px;
}

.registro-clinico .image {
  height: 955px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.registro-clinico .rectangle-2 {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background-color: #ffffff99;
  border-radius: 36px;
  height: 944px;
  left: 388px;
  position: absolute;
  top: 11px;
  width: 708px;
}

.registro-clinico .text-wrapper {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 615px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 167px;
  white-space: nowrap;
  width: 209px;
}

.registro-clinico .ingresa-tu-apellido {
  height: 20px;
  left: 605px;
  position: absolute;
  top: 391px;
  width: 265px;
}

.registro-clinico .p {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 559px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 488px;
  white-space: nowrap;
  width: 321px;
}

.registro-clinico .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 632px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 585px;
  white-space: nowrap;
  width: 176px;
}

.registro-clinico .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 620px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 691px;
  white-space: nowrap;
  width: 200px;
}

.registro-clinico .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 589px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 273px;
  white-space: nowrap;
  width: 262px;
}

.registro-clinico .rectangle-3 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 551px;
  position: absolute;
  top: 212px;
  width: 373px;
}

.registro-clinico .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 425px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
  width: 646px;
}

.registro-clinico .text-wrapper-6 {
  color: #6964ff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 658px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 882px;
  white-space: nowrap;
}

.registro-clinico .rectangle-4 {
  background-color: #00b2ff;
  border: 3px solid;
  border-radius: 32.5px;
  box-shadow: 0px 4px 4px #00000040;
  height: 52px;
  left: 653px;
  position: absolute;
  top: 817px;
  width: 177px;
}

.registro-clinico .text-wrapper-7 {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 697px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 830px;
  white-space: nowrap;
}

.registro-clinico .rectangle-5 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 553px;
  position: absolute;
  top: 316px;
  width: 373px;
}

.registro-clinico .rectangle-6 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 551px;
  position: absolute;
  top: 421px;
  width: 373px;
}

.registro-clinico .rectangle-7 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 551px;
  position: absolute;
  top: 526px;
  width: 373px;
}

.registro-clinico .rectangle-8 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 553px;
  position: absolute;
  top: 627px;
  width: 373px;
}

.registro-clinico .rectangle-9 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 551px;
  position: absolute;
  top: 729px;
  width: 373px;
}

.registro-clinico .text-wrapper-8 {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  font-family: "Caesar Dressing-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 220px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 166px;
  white-space: nowrap;
  width: 300px;
}

.registro-clinico .rectangle-10 {
  background-color: #ffffff;
  border-radius: 84px;
  height: 672px;
  left: 171px;
  position: absolute;
  top: 84px;
  width: 1060px;
}

.registro-clinico .ellipse {
  border: 1px solid;
  border-color: #000000;
  border-radius: 16px / 15px;
  height: 30px;
  left: 968px;
  position: absolute;
  top: 310px;
  width: 32px;
}

.registro-clinico .ellipse-2 {
  border: 1px solid;
  border-color: #000000;
  border-radius: 16px / 15px;
  height: 30px;
  left: 844px;
  position: absolute;
  top: 310px;
  width: 32px;
}

.registro-clinico .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 932px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 310px;
}

.registro-clinico .text-wrapper-10 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 809px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 310px;
}

.registro-clinico .text-wrapper-11 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 442px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 574px;
}

.registro-clinico .text-wrapper-12 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 320px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 574px;
}

.registro-clinico .ellipse-3 {
  border: 1px solid;
  border-color: #000000;
  border-radius: 21px / 20px;
  height: 40px;
  left: 481px;
  position: absolute;
  top: 570px;
  width: 42px;
}

.registro-clinico .ellipse-4 {
  border: 1px solid;
  border-color: #000000;
  border-radius: 21px / 20px;
  height: 40px;
  left: 353px;
  position: absolute;
  top: 570px;
  width: 42px;
}

.registro-clinico .text-wrapper-13 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 274px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 493px;
}

.registro-clinico .rectangle-11 {
  background-color: #00b2ff;
  border-radius: 32.5px;
  box-shadow: 0px 4px 4px #00000040;
  height: 52px;
  left: 577px;
  position: absolute;
  top: 687px;
  width: 177px;
}

.registro-clinico .text-wrapper-14 {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 620px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 698px;
}

.registro-clinico .text-wrapper-15 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 692px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 493px;
}

.registro-clinico .rectangle-12 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 720px;
  position: absolute;
  top: 531px;
  width: 373px;
}

.registro-clinico .text-wrapper-16 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 776px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 373px;
}

.registro-clinico .text-wrapper-17 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 287px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 373px;
}

.registro-clinico .text-wrapper-18 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 272px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 256px;
}

.registro-clinico .rectangle-13 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 720px;
  position: absolute;
  top: 411px;
  width: 373px;
}

.registro-clinico .rectangle-14 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 4px #00000040;
  height: 55px;
  left: 239px;
  position: absolute;
  top: 411px;
  width: 373px;
}

.registro-clinico .text-wrapper-19 {
  color: #0f0f0f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: 296px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 115px;
}

.registro-clinico .padeces-de-alguna {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 719px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 228px;
}

.registro-clinico .arrow {
  height: 17px;
  left: 1049px;
  position: absolute;
  top: 312px;
  width: 29px;
}

.registro-clinico .img {
  height: 954px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1440px;
}

.registro-clinico .rectangle-15 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 4px #00000040;
  height: 350px;
  left: 239px;
  position: absolute;
  top: 295px;
  width: 373px;
}

.registro-clinico .line {
  height: 2px;
  left: 316px;
  position: absolute;
  top: 521px;
  width: 207px;
}

.registro-clinico .line-2 {
  height: 2px;
  left: 316px;
  position: absolute;
  top: 573px;
  width: 207px;
}

.registro-clinico .line-3 {
  height: 2px;
  left: 311px;
  position: absolute;
  top: 619px;
  width: 207px;
}

.registro-clinico .rectangle-16 {
  background-color: #000000;
  height: 43px;
  left: 561px;
  position: absolute;
  top: 301px;
  width: 43px;
}

.registro-clinico .arrow-2 {
  height: 17px;
  left: 568px;
  position: absolute;
  top: 312px;
  width: 29px;
}

.registro-clinico .line-4 {
  height: 2px;
  left: 316px;
  position: absolute;
  top: 423px;
  width: 207px;
}

.registro-clinico .line-5 {
  height: 48px;
  left: 583px;
  position: absolute;
  top: 422px;
  width: 4px;
}

.registro-clinico .line-6 {
  height: 2px;
  left: 316px;
  position: absolute;
  top: 474px;
  width: 207px;
}

.registro-clinico .text-wrapper-20 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 396px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 382px;
}

.registro-clinico .text-wrapper-21 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 388px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 582px;
}

.registro-clinico .text-wrapper-22 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 399px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 433px;
}

.registro-clinico .text-wrapper-23 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 399px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 479px;
}

.registro-clinico .text-wrapper-24 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 400px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 530px;
}

.registro-clinico .overlap-group {
  height: 28px;
  left: 259px;
  position: absolute;
  top: 1034px;
  width: 289px;
}

.registro-clinico .text-wrapper-25 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 289px;
}

.registro-clinico .rectangle-17 {
  height: 955px;
  left: -15143px;
  position: absolute;
  top: 7002px;
  width: 801px;
}

.registro-clinico .header {
  background-color: #000000cc;
  box-shadow: 0px 0px 18px #0000001a;
  height: 80px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1522px;
}

.registro-clinico .container {
  height: 60px;
  left: 101px;
  position: absolute;
  top: 10px;
  width: 1320px;
}

.registro-clinico .link {
  height: 38px;
  left: 12px;
  position: absolute;
  top: 11px;
  width: 52px;
}

.registro-clinico .overlap-group-2 {
  height: 38px;
  position: relative;
  top: -1px;
}

.registro-clinico .heading-GP {
  color: #ffffff;
  font-family: "Raleway-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 38px;
  left: 0;
  letter-spacing: 0;
  line-height: 38.4px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 43px;
}

.registro-clinico .text-wrapper-26 {
  color: #ffc451;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 32px;
  left: 43px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
  width: 9px;
}

.registro-clinico .nav-list {
  height: 60px;
  left: 288px;
  position: absolute;
  top: 0;
  width: 632px;
}

.registro-clinico .item-link-about {
  color: #ffffffe7;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 153px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
  width: 88px;
}

.registro-clinico .item-link-services {
  color: #ffffffe7;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 279px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
  width: 74px;
}

.registro-clinico .overlap-2 {
  height: 60px;
  left: 391px;
  position: absolute;
  top: 0;
  width: 161px;
}

.registro-clinico .item-link-services-2 {
  color: #ffffffe7;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
  width: 74px;
}

.registro-clinico .item-link {
  height: 60px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 130px;
}

.registro-clinico .text-wrapper-27 {
  color: #ffffffe7;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  left: 65px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
  width: 36px;
}

.registro-clinico .icon {
  height: 12px;
  left: 103px;
  position: absolute;
  top: 24px;
  width: 12px;
}

.registro-clinico .item-link-contact {
  color: #ffffffe7;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 567px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
  width: 110px;
}

.registro-clinico .item-link-about-2 {
  color: #ffffffe7;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 27px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
  width: 88px;
}

.registro-clinico .div-wrapper {
  border: 1px solid;
  border-color: #ffc451;
  border-radius: 4px;
  height: 40px;
  left: 1196px;
  position: absolute;
  top: 10px;
  width: 134px;
}

.registro-clinico .text-wrapper-28 {
  color: #ffffff;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 22px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 11px;
  white-space: nowrap;
  width: 89px;
}

.registro-clinico .image-2 {
  height: 67px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 65px;
}

.registro-clinico .image-3 {
  height: 67px;
  left: 29px;
  object-fit: cover;
  position: fixed;
  top: 7px;
  width: 65px;
}

.registro-clinico .material-symbols {
  height: 65px;
  left: 189px;
  position: fixed;
  top: 191px;
  width: 70px;
}
