.registro-organizacion-plantilla,
.registro-organizacion-plantilla * {
  box-sizing: border-box;
}
.registro-organizacion-plantilla {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-20 {
  background: #ffffff;
  width: 720px;
  height: 955px;
  position: absolute;
  left: 0px;
  top: 69px;
}
.image-1 {
  width: 1440px;
  height: 955px;
  position: absolute;
  left: 0px;
  top: 69px;
  object-fit: cover;
}
.rectangle-37 {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 36px;
  width: 801px;
  height: 955px;
  position: absolute;
  left: 360px;
  top: 59px;
}
.formulario-de-registro-de-organizacion {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 48px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 354px);
  top: calc(50% - 391px);
  width: 789px;
  height: 132px;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.tipo-de-organizaci-n {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 625px;
  top: 294px;
  width: 258px;
  height: 31px;
}
.ingresa-tu-id-de-usuario {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 626px;
  top: 476px;
  width: 263px;
  height: 31px;
}
.seleccionar-el-archivo {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 639px;
  top: 588px;
  width: 263px;
  height: 31px;
}
.ingresa-nombre-de-la-organizacion {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 625px;
  top: 379px;
  width: 356px;
  height: 31px;
}
.rectangle-7 {
  background: #ffffff;
  border-radius: 3px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 281px;
  height: 37px;
  position: absolute;
  left: 626px;
  top: 519px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-32 {
  background: #ffffff;
  border-radius: 3px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 281px;
  height: 37px;
  position: absolute;
  left: 626px;
  top: 422px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.material-symbols-arrow-back {
  width: 70px;
  height: 65px;
  position: absolute;
  left: 392px;
  top: 121px;
  overflow: visible;
}
.uil-image-upload {
  width: 82px;
  height: 82px;
  position: absolute;
  left: 726px;
  top: 710px;
  overflow: visible;
}
.rectangle-31 {
  border-radius: 0px;
  width: 177px;
  height: 52px;
  position: absolute;
  left: 669px;
  top: 886px;
  overflow: visible;
}
.guardar {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 721px;
  top: 900px;
}
.rectangle-36 {
  background: rgba(255, 255, 255, 0);
  border-radius: 21px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 292px;
  height: 211px;
  position: absolute;
  left: 625px;
  top: 646px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header {
  background: rgba(0, 0, 0, 0.8);
  width: 1521.6px;
  height: 80px;
  position: sticky;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
.container {
  width: 1320px;
  height: 60px;
  position: absolute;
  left: calc(50% - 659.8px);
  top: calc(50% - 30px);
}
.link {
  width: 51.56px;
  height: 38.4px;
  position: absolute;
  left: 12px;
  top: calc(50% - 19.2px);
}
.heading-1-gp {
  color: #ffffff;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 43.47px;
  height: 38.4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div {
  color: #ffc451;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  position: absolute;
  left: 43.14px;
  top: 3.2px;
  width: 8.82px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-list {
  height: 60px;
  position: absolute;
  right: 399.42px;
  left: 288.2001953125px;
  top: 0px;
}
.item-link {
  height: 60px;
  position: absolute;
  right: 576.23px;
  left: -21.5595703125px;
  top: 0px;
}
.item-link-about {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 153.44px;
  top: 20px;
  width: 88px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link-services {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 279.44px;
  top: 20px;
  width: 74px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link-services2 {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 391px;
  top: 20px;
  width: 74px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link2 {
  height: 60px;
  position: absolute;
  right: 80.02px;
  left: 422.6000061035156px;
  top: 0px;
}
.mas {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 64.84px;
  top: 18px;
  width: 36px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 102.76px;
  top: 36px;
  transform: translate(0px, -12px);
  overflow: visible;
}
.item-link-contact {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 567.44px;
  top: 19px;
  width: 110px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link-about2 {
  color: rgba(255, 255, 255, 0.91);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 20px;
  width: 88px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usuario {
  height: auto;
  position: absolute;
  left: 1317px;
  top: 18px;
  overflow: visible;
}
.rectangle-6 {
  background: #ffffff;
  border-radius: 3px;
  width: 281px;
  height: 211px;
  position: sticky;
  left: 626px;
  top: 325px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.moto-club {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: sticky;
  left: 718px;
  top: 397px;
}
.independiente {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: sticky;
  left: 696px;
  top: 483px;
}
.moto-grupo {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: sticky;
  left: 709px;
  top: 440px;
}
.rectangle-38 {
  background: #000000;
  width: 31px;
  height: 33px;
  position: sticky;
  left: 873px;
  top: 328px;
}
.line-6 {
  margin-top: -2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.23);
  border-width: 2px 0 0 0;
  width: 207px;
  height: 0px;
  position: sticky;
  left: 664px;
  top: 430px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-7 {
  margin-top: -2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.23);
  border-width: 2px 0 0 0;
  width: 207px;
  height: 0px;
  position: sticky;
  left: 664px;
  top: 476px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.arrow-8 {
  width: 1px;
  height: 0px;
  position: sticky;
  left: 889px;
  top: 347px;
  transform: translate(-14.73px, -13.73px);
  overflow: visible;
}
.image-3 {
  width: 65px;
  height: 67px;
  position: sticky;
  left: 18px;
  top: 3px;
  object-fit: cover;
}
